extends ./layout/default

block title
    title #{title} - #{CONFIG.SITE_NAME}

block container
    .saya-container
        .saya
            .detaile
                .item
                    h1.title #{data.title}
                    .date #{data.date_zh}
                    .typo
                        - if (data.banner)
                            .banner
                                img(src= HOME_PATH + data.banner)
                        |!{data.content_html}

                    - if (data.tags)
                        .tags
                            span 標籤：
                            each tag in data.tags
                                a(href= HOME_PATH + PATH.TAG + tag + '.html') #{tag}



                .item.comment
                    .ds-thread(
                            data-thread-key="#{data.date}"
                            data-title="#{data.title}"
                            data-url="http://solidzoro.com/day/#{data.url}.html"
                    )
                    script(type="text/javascript").
                        var duoshuoQuery = {short_name:"zoro"};
                        (function() {
                            var ds = document.createElement('script');
                            ds.type = 'text/javascript';ds.async = true;
                            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                            ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0]
                            || document.getElementsByTagName('body')[0]).appendChild(ds);
                        })();
