extends ./layout/default.jade

block title
    title #{title} - #{CONFIG.SITE_NAME}

block container
    .saya-container
        .saya
            .list
                each data in datas
                    .item
                        h2.title
                            a(href= CONFIG.SITE_URL + PATH.ARTICLE + data.url + '.html') #{data.title}
                        .date #{data.date_zh}

                        .typo.clearfix
                            - if (data.banner_thumb)
                                .banner-thumb
                                    a(href= CONFIG.SITE_URL + PATH.ARTICLE + data.url + '.html')
                                        img(src= CONFIG.SITE_URL + data.banner_thumb)
                            - if (data.content_list_html)
                                |!{data.content_list_html}
                            - else
                                |!{data.content_html}
            include ./include/pagination.jade