extends ./layout/default.jade

block title
    title #{title} - #{CONFIG.SITE_NAME}

block container
    .saya-container
        .saya
            .list
                each data in datas
                    .item
                        h2.title
                            a(href= HOME_PATH + PATH.PAGE + data.url + '.html') #{data.title}
                        .date #{data.data_zh}

                        .typo
                            - if (data.banner_thumb)
                                .banner-thumb
                                    img(src= HOME_PATH + data.banner_thumb)
                            - if (data.content_list_html)
                                |!{data.content_list_html}
                            - else
                                |!{data.content_html}
            include ./include/pagination.jade