extends ./layout/default.jade

block title
    title #{title} - Tag - #{CONFIG.SITE_NAME}
block container
    .saya-container
        .saya
            h1.title
                small TAG:&nbsp;&nbsp;
                    strong #{title}
            .list
                each data in datas
                    .item
                        h2.title
                            a(href= CONFIG.SITE_URL + PATH.ARTICLE + data.url + '.html') #{data.title}
                        .date #{data.date_zh}

                        .typo.clearfix
                            - if (data.banner_thumb)
                                .banner-thumb
                                    a(href= CONFIG.SITE_URL + PATH.ARTICLE + data.url + '.html')
                                        img(src= CONFIG.SITE_URL + data.banner_thumb)
                            |!{data.content_html}

