extends ./layout/default.jade

block title
    title #{title} - Tag - #{CONFIG.SITE_NAME}
block container
    .saya-container
        .saya
            h1.title tag:
                code #{title}
            .list
                each data in datas
                    .item
                        h2.title
                            a(href= HOME_PATH + PATH.DAY + data.url + '.html') #{data.title}
                        .date #{data.date_zh}

                        .typo
                            - if (data.banner_thumb)
                                .banner-thumb
                                    img(src= HOME_PATH + data.banner_thumb)
                            |!{data.content_html}

