extends ./layout/default

block title
    title #{entrie.title} - SolidZORO
block style
    link(rel='stylesheet', href='../themes/sample/assets/css/style.css')
block script
    script(src='../themes/sample/assets/js/app.js')

block container
    .saya-container
        .saya
            h1.title #{entrie.title}
            .date #{entrie.date}
            - if (entrie.banner)
                .banner
                    img(src='../' + entrie.banner)
            .typo !{entrie.content}

            - if (entrie.tags)
                .tags
                    span 標籤：
                    each tag in entrie.tags
                        a(href='../tag/'+ tag + '.html') #{tag}