doctype html
html#html-top.no-js(lang='zh')
    head
        meta(charset='utf-8')
        title #{entrie.title} - DayOne
    body
        a(href="../index.html") 回首頁
        hr
        h1 #{entrie.title}
        span #{entrie.date}
        - if (entrie.photo)
            .photo
                img(src='../' + entrie.photo, style="width: 640px")
        p.text !{entrie.text}
        - if (entrie.tags)
            each tag in entrie.tags
                li
                    a(href='../tag/'+ tag + '.html') #{tag}
