extends ./layout/default.jade

block title
    title #{title} - SolidZORO
block style
    link(rel='stylesheet', href='../themes/sample/assets/css/style.css')
block script
    script(src='../themes/sample/assets/js/app.js')

block container
    .saya-container
        .saya
            h1.title 帶有 #{title} 標籤的日誌
            each tag in tags
                .item
                    a(href='./day/' + tag.url + '.html')
                        h2.title #{tag.title}
                    .date #{tag.date}

                    - if (tag.banner)
                        .banner
                            img(src='../' + tag.banner_thumbnail)
                    .typo !{tag.content}
